body {
  background-color: aquamarine;
}

header {
  background: #333;
  height: 200px;
  text-align: center;
}

 ul {
  display: inline-block;
  font-size: 50px; 
  margin-left: 0px auto;
  margin-right: 0px auto;
}

img {
 margin-left: 0px auto;
 margin-right: 0px auto;
 margin-top: 20px;
}

section {
  width: 50%;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  border: 3px solid black;
}