body {
  background-image: url(../img/pokerBackground.jpg);
  font-family: 'Mukta Mahee', sans-serif;
  height: auto;
  color: #FFF;
}

header {
  background: #000;
  position: relative;
  height: 10vw;
  width: 60vw;
  margin: 0px auto 0px auto;
  border: 3px solid #000;
}

header h1 {
  position: absolute;
  color: #FFF;
  width: 25vw;
  margin-top: 5vh;
  margin-left: 13vw;
  font-size: 3vw;
}

#logo {
  position: absolute;
  width: 10vw;
  float: left;
  margin: .5vw;
  border: 5px solid #FFF;
}

header ul {
  margin-top:7vh;
  float: right;
  padding: 5px;
}

header ul li {
  display: inline;
  font-size: 1.1vw;
  margin: .6vh .4vw;
  padding: 10px;
  background-color: #000;
  border: 5px solid #FFF;
}

header ul li:hover {
  background-color: blue;
}

.aboutUs {
  width: 550px;
  height: 240px;
  font-size: 18px;
  margin: 5vh auto;
}

.aboutUs h2 {
  margin-bottom: 2vh;
}

.aboutUs img {
  height: 200px;
  float: left;
  margin-right: 50px;
}


#hero {
  display: block;
 margin: auto;
}

.bigButton {
  width: 50%;
  height: 100px;
  font-size: 30px;
  margin: 20px auto 20px auto;
  display: block;
  border: 3px solid black;
}

button:hover {
  background: green;
}

#votingSystem {
 width: 40vw;
 border: 3px solid #000;
 color: #000;
 font-size: 20px;
 margin: 0px auto 100px auto;
 border-radius: 10px;
 background-color: antiquewhite;
}

#cardContainer {
  border: 3px solid #000;
  background-color: #FFF;
  color: #000;
  width: 250px;
  height: 300px;
  text-align: center;
  margin: 30px auto 50px auto;
  border-radius: 8px;
}

#cardContainer p {
  font-size: 2em;
}

#playerForm {
  width: 40%;
  height: 500px;
  margin: 0px auto 0px auto;
  font-size: 35px;
}

#playerForm input {
  font-size: 2vw;
  display: block;
  margin: 10px;
}

#playerForm button, #playerList button, #newGame button {
  font-size: 2vw;
  margin: 10px 0px 0px 8px;
  padding: 10px 20px;
}

#playerList {
  text-align: center;
}

#playerList label {
  font-size: 2em;
}


main h2 {
  text-align: center;
}

#playerWinsChart {
  display: none;
  margin: 20px auto;
  background-color: whitesmoke;
}
#newGame {
  display: none;
  width: 15vw;
  margin: auto;
}

h2 {
  margin: 0px auto;
  text-align: center;
  font-size: 2em;
}

#winnerName {
  font-size: 4em;
}

ol {
  margin: 0px auto;
  width: 70%;
  font-size: 25px;

}

a {
  text-decoration: none;
  color: #FFF;
}

#cardList {
  margin: 0px auto 50px auto;
}
#cardList h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

#cardList li {
  width: 60%;
  margin: 5px auto;
}

#selfie-cam, #image-processor {
  border:3px dotted black;
}

#img0 {
  width: 25px;
}